   <interface type='bridge'>
     <source bridge='n_network'/>
     <vlan>
       <tag id='new_vlan'/>
     </vlan>
     <virtualport type='openvswitch'>
       <parameters interfaceid='switch_id'/>
     </virtualport>
     <target dev='new_guest'/>
     <model type='e1000'/>
     <address type='pci' domain='0x0000' bus='0x00' slot='0x03' function='0x0'/>
   </interface>
